# Compiled files
*.class
*.o
*.exe

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Node modules
node_modules/

# Environment variables
.env

# Build folders
dist/
build/
target/